@model MvcKap.Models.Patient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeYears)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeanBodyWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeanBodyWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bcs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bcs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RespRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeartRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeartRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpSystolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpSystolic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpMean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpMean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BpDiastolic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BpDiastolic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
